*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  
  .bloc-tabs {
    display: flex;
    padding-top: 50px;

  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    color:white;
    box-sizing: content-box;
    position: relative;
    outline: none;
 
    
  }
 
  
  .active-tabs  {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(181, 181, 181, 0.2) 100%);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid transparent;
    color:white;
  }
  
  button {
    border: none;
    border-top-left-radius:20px;
    border-top-right-radius: 20px
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
  
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(181, 181, 181, 0.2) 100%);
    backdrop-filter: blur(15px);
    border-radius: 0px 24px 24px 24px;
    
  }


  .content h4 {
    width: 100%;
    height: 100%;
    color:white;
  }
  .active-content {
    display: block;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    
  }